---
import { Image } from "astro:assets";
import Question from "./question.astro";
---

<script>
  const questions = document.getElementsByClassName("question");

  for (const q of questions) {
    const open = q.getElementsByClassName("open")[0] as HTMLButtonElement;
    const close = q.getElementsByClassName("close")[0] as HTMLButtonElement;
    const answer = q.getElementsByClassName(
      "answer"
    )[0] as HTMLParagraphElement;

    open.addEventListener("click", () => {
      answer.style.maxHeight = answer.scrollHeight + "px";
      answer.classList.add("mb-6");
      close.classList.remove("hidden");
      open.classList.add("hidden");
    });

    close.addEventListener("click", () => {
      answer.style.maxHeight = "0";
      answer.classList.remove("mb-6");
      close.classList.add("hidden");
      open.classList.remove("hidden");
    });
  }
</script>

<div
  class="px-5 py-10 flex justify-between gap-10 xl:py-[120px] xl:max-w-[1552px] xl:mx-auto xl:gap-[128px]"
>
  <div class="flex-1">
    <h2
      class="text-[28px] leading-[30px] mb-5 xl:text-[52px] xl:leading-normal xl:mb-[50px]"
    >
      Часті питання
    </h2>
    <div>
      <Question question="Чи підходить цей курс для новачків?">
        Так, курс створений для всіх рівнів підготовки, від початківців до тих,
        хто вже має досвід у медитації. Ви зможете легко зануритися у практику
        та отримати максимальну користь без зайвих труднощів.
      </Question>
      <Question question="Як я дізнаюся, що курс працює?">
        Ви відчуєте перші результати вже після кількох днів практики: внутрішній
        спокій, ясність розуму, зменшення тривоги та відчуття контролю над своїм
        життям. Практики допоможуть вам швидко помітити зміни у вашому стані та
        повсякденному житті.
      </Question>
      <Question question="Чи можу я повертатися до медитацій знову і знову?">
        Так, у вас буде безстроковий доступ до курсу. Медитації будуть доступні
        у Telegram, що дозволяє вам легко повертатися до практик у будь-який час
        і місці, слухати їх стільки разів, скільки вам потрібно, і підтримувати
        досягнутий рівень спокою та балансу.
      </Question>
      <Question question="Як я отримаю доступ до курсу?">
        Після оплати ви отримаєте посилання на Telegram-канал, де
        зберігатимуться всі медитації. Ви зможете слухати їх на своєму телефоні
        або будь-якому іншому пристрої, що підтримує доступ до Telegram
      </Question>
      <Question question="Скільки часу займає кожна медитація?">
        Кожна медитація триває від 15 до 20 хвилин. Це ідеальна тривалість, щоб
        ви могли легко включити практику у свій щоденний графік і відчути її
        ефективність без зайвих витрат часу.
      </Question>
      <Question
        question="Чи потрібне мені спеціальне обладнання для медитації?"
      >
        Ні, все, що вам потрібно, — це спокійне місце і пристрій для відтворення
        медитацій. Можна використовувати навушники для кращої концентрації, але
        це необов’язково.
      </Question>
      <Question question="Чи є курс науково підтвердженим?">
        Так, всі практики курсу базуються на науково підтверджених методах, які
        показали свою ефективність у зниженні стресу, покращенні концентрації та
        емоційного стану.
      </Question>
    </div>
  </div>
  <div class="hidden md:block self-start rounded-tr-[139px] flex-1">
    <Image
      class="rounded-tr-[139px] md:max-w-[400px] xl:max-w-[640px] xl:max-h-[759px] w-full mx-auto"
      src="/faq.jpeg"
      alt=""
      height="300"
      width="300"
    />
  </div>
</div>
