---
type Props = {
  question: string;
};

const { question } = Astro.props;
---

<div
  class="question flex gap-[14px] items-start pt-5 border-b border-black/50 xl:pt-6"
>
  <div>
    <p class="capitalize text-[20px] mb-6 xl:text-2xl">{question}</p>
    <p
      style="max-height: 0;"
      class="overflow-hidden answer transition-all duration-700 xl:text-xl"
    >
      <slot />
    </p>
  </div>
  <button class="p-1 hidden close">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <path
        d="M27 14.8136H17C17 14.8136 16.2652 14.8136 16 14.8136C15.7348 14.8136 15 14.8135 15 14.8135L5 14.8136C4.73478 14.8136 4.48043 14.9189 4.29289 15.1065C4.10536 15.294 4 15.5484 4 15.8136C4 16.0788 4.10536 16.3331 4.29289 16.5207C4.48043 16.7082 4.73478 16.8136 5 16.8136H15H17H27C27.2652 16.8136 27.5196 16.7082 27.7071 16.5207C27.8946 16.3331 28 16.0788 28 15.8136C28 15.5484 27.8946 15.294 27.7071 15.1065C27.5196 14.9189 27.2652 14.8136 27 14.8136Z"
        fill="black"></path>
    </svg>
  </button>
  <button class="p-1 open">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <path
        d="M27 15.8135H17V5.81348C17 5.54826 16.8946 5.29391 16.7071 5.10637C16.5196 4.91883 16.2652 4.81348 16 4.81348C15.7348 4.81348 15.4804 4.91883 15.2929 5.10637C15.1054 5.29391 15 5.54826 15 5.81348V15.8135H5C4.73478 15.8135 4.48043 15.9188 4.29289 16.1064C4.10536 16.2939 4 16.5483 4 16.8135C4 17.0787 4.10536 17.333 4.29289 17.5206C4.48043 17.7081 4.73478 17.8135 5 17.8135H15V27.8135C15 28.0787 15.1054 28.333 15.2929 28.5206C15.4804 28.7081 15.7348 28.8135 16 28.8135C16.2652 28.8135 16.5196 28.7081 16.7071 28.5206C16.8946 28.333 17 28.0787 17 27.8135V17.8135H27C27.2652 17.8135 27.5196 17.7081 27.7071 17.5206C27.8946 17.333 28 17.0787 28 16.8135C28 16.5483 27.8946 16.2939 27.7071 16.1064C27.5196 15.9188 27.2652 15.8135 27 15.8135Z"
        fill="black"></path>
    </svg>
  </button>
</div>
