---
import Plus from "../../svgs/plus.svg?raw";
import Minus from "../../svgs/minus.svg?raw";

type Props = {
  question: string;
};

const { question } = Astro.props;
---

<div
  class="question flex gap-[14px] items-start pt-5 border-b border-black/50 xl:pt-6"
>
  <div>
    <p class="capitalize text-[20px] mb-6 xl:text-2xl">{question}</p>
    <p
      style="max-height: 0;"
      class="overflow-hidden answer transition-all duration-700 xl:text-xl"
    >
      <slot />
    </p>
  </div>
  <button class="p-1 hidden close">
    <Fragment set:html={Minus} />
  </button>
  <button class="p-1 open">
    <Fragment set:html={Plus} />
  </button>
</div>
