---
type Props = {
  question: string;
};

const { question } = Astro.props;
---

<div class="flex gap-[14px] items-start pt-5 border-b border-black/50">
  <div>
    <p class="capitalize text-[20px] mb-6">{question}</p>
    <p class="mb-6"><slot /></p>
  </div>
  <button class="p-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <path
        d="M27 14.8136H17C17 14.8136 16.2652 14.8136 16 14.8136C15.7348 14.8136 15 14.8135 15 14.8135L5 14.8136C4.73478 14.8136 4.48043 14.9189 4.29289 15.1065C4.10536 15.294 4 15.5484 4 15.8136C4 16.0788 4.10536 16.3331 4.29289 16.5207C4.48043 16.7082 4.73478 16.8136 5 16.8136H15H17H27C27.2652 16.8136 27.5196 16.7082 27.7071 16.5207C27.8946 16.3331 28 16.0788 28 15.8136C28 15.5484 27.8946 15.294 27.7071 15.1065C27.5196 14.9189 27.2652 14.8136 27 14.8136Z"
        fill="black"></path>
    </svg>
  </button>
</div>
