---
import Button from "../button.astro";
import Podcasts from "./podcasts.astro";
---

<div class="bg-[#2B2A26] text-white py-10 px-5">
  <h2 class="text-[28px] leading-[36px] mb-[30px]">Що входить до курсу?</h2>
  <p>
    Цей курс складається з <b>7 медитацій</b>, кожна з яких охоплює важливі теми
    для вашого ментального та емоційного благополуччя. Кожна практика базується
    на <b>науково підтверджених методах</b> та використовує ефективні техніки, що
    працюють.
  </p>
  <br />
  <p class="mb-[30px]">
    Ви відчуєте, як з кожною медитацією ваше тіло та розум розслабляються,
    стаючи більш стійкими до стресу та викликів. Цей курс розроблений так, щоб
    допомогти вам не просто медитувати, а досягти результатів, глибокого
    розуміння себе, внутрішньої гармонії та здатності справлятися з щоденними
    труднощами.
  </p>
  <Button className="bg-[#8C6546]" />
  <p class="mt-4 text-xl leading-[30px] text-center">
    <b>350 грн</b> замість <span class="line-through">1300 грн</span>
  </p>
  <Podcasts />
</div>
