---
import Podcast from "./podcast.astro";
---

<script>
  import { Howl } from "howler";

  const introductions = document.querySelectorAll("[data-sound]");

  let currentSound: Howl | null = null;
  let currentElement: [HTMLButtonElement, HTMLButtonElement] | null = null;

  function stopCurrentSound() {
    if (currentSound && currentSound.playing()) {
      currentSound.stop();
      currentElement[0].classList.replace("hidden", "flex");
      currentElement[1].classList.add("hidden");
    }
  }

  for (const introduction of introductions) {
    const soundPath = introduction.getAttribute("data-sound");
    const sound = new Howl({ src: [soundPath] });
    const play = introduction.querySelector(".play-btn") as HTMLButtonElement;
    const pause = introduction.querySelector(".pause-btn") as HTMLButtonElement;

    play.addEventListener("click", () => {
      play.classList.add("hidden");
      pause.classList.replace("hidden", "flex");
      stopCurrentSound();
      sound.play();
      currentSound = sound;
      currentElement = [play, pause];
    });

    pause.addEventListener("click", () => {
      pause.classList.add("hidden");
      play.classList.replace("hidden", "flex");
      sound.stop();
      currentElement = null;
      currentSound = null;
    });
  }
</script>

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-[60px] xl:mt-0 xl:grid-cols-1 xl:gap-[30px] xl:w-2/3"
>
  <Podcast
    image="/meditation-1.png"
    title="зменшення тривожності"
    label="медитація 01"
    sound="/introductions/introduction-1.m4a"
  >
    Глибока медитація для заспокоєння розуму, звільнення від тривожних думок та
    відчуття внутрішнього спокою. Дослідження показують, що регулярна медитація
    знижує рівень кортизолу, гормону стресу, допомагаючи зменшити тривожність та
    покращити загальне самопочуття.
  </Podcast>
  <Podcast
    image="/meditation-2.png"
    title="Прийняття себе"
    label="медитація 02"
    sound="/introductions/introduction-2.m4a"
  >
    Потужна практика, яка допомагає розвивати любов та повагу до себе, приймати
    свою унікальність та формувати здорову самооцінку. Наукові дослідження
    свідчать, що медитації, спрямовані на самоусвідомлення, сприяють покращенню
    емоційного благополуччя та впевненості в собі.
  </Podcast>
  <Podcast
    image="/meditation-3.png"
    title="Фокус та концентрація"
    label="медитація 03"
    sound="/introductions/introduction-3.m4a"
  >
    Спеціальна медитація для підвищення здатності зосереджуватись та мислити
    ясно навіть у складних ситуаціях. Вчені підтверджують, що медитація покращує
    активність префронтальної кори мозку, яка відповідає за увагу та прийняття
    рішень, що підвищує продуктивність і концентрацію.
  </Podcast>
  <Podcast
    image="/meditation-4.png"
    title="Вдячність"
    label="медитація 04"
    sound="/introductions/introduction-4.m4a"
  >
    Практика, яка розвиває здатність помічати красу в простих речах, пробуджує
    вдячність та наповнює життя радістю і позитивом. Дослідження виявили, що
    регулярна практика вдячності збільшує рівень щастя та покращує психологічне
    здоров'я.
  </Podcast>
  <Podcast
    image="/meditation-5.png"
    title="Сон та відновлення"
    label="медитація 05"
    sound="/introductions/introduction-5.m4a"
  >
    Медитація для полегшення процесу засинання та забезпечення якісного
    відпочинку, що допоможе прокидатися з почуттям енергії та оновленості.
    Наукові дані показують, що медитація перед сном знижує активність бета-хвиль
    у мозку, полегшуючи розслаблення та засинання.
  </Podcast>
  <Podcast
    image="/meditation-6.png"
    title="Стрес та втома"
    label="медитація 06"
    sound="/introductions/introduction-6.m4a"
  >
    Ефективна практика для зняття напруги та швидкого відновлення енергії після
    інтенсивних днів. Дослідження підтверджують, що медитація сприяє зниженню
    рівня адреналіну та підвищенню стійкості до стресу, що допомагає залишатися
    енергійним і збалансованим.
  </Podcast>
  <Podcast
    image="/meditation-7.png"
    title="Емоційна регуляція"
    label="медитація 07"
    sound="/introductions/introduction-7.m4a"
  >
    Інструмент для навчання керування емоціями, який дозволяє зберігати спокій,
    впевненість та баланс у будь-яких ситуаціях. Наукові дослідження показують,
    що медитація сприяє активації частин мозку, які відповідають за емоційну
    регуляцію, покращуючи здатність керувати своїми реакціями.
  </Podcast>
</div>
