---
import Podcast from "./podcast.astro";
---

<div class="space-y-6 mt-[60px]">
  <Podcast
    image=""
    title="зменшення тривожності"
    description="Глибока медитація для заспокоєння розуму, звільнення від тривожних думок та відчуття внутрішнього спокою. Дослідження показують, що регулярна медитація знижує рівень кортизолу, гормону стресу, допомагаючи зменшити тривожність та покращити загальне самопочуття."
    label="медитація 01"
  />
  <Podcast
    image=""
    title="Прийняття себе"
    description="Потужна практика, яка допомагає розвивати любов та повагу до себе, приймати свою унікальність та формувати здорову самооцінку. Наукові дослідження свідчать, що медитації, спрямовані на самоусвідомлення, сприяють покращенню емоційного благополуччя та впевненості в собі."
    label="медитація 02"
  />
</div>
