---
import Bullet from "./bullet.astro";
---

<div class="space-y-5 mt-6 lg:mt-[52px]">
  <Bullet>
    <span class="font-semibold">7 унікальних медитацій</span> для різних потреб:
    від зменшення тривожності до покращення сну.
  </Bullet>
  <Bullet>
    Методики, <span class="font-semibold">підтверджені наукою</span>, які
    гарантують реальні результати.
  </Bullet>
  <Bullet>
    <span class="font-semibold">Вічний доступ до курсу:</span> слухайте медитації
    тоді, коли вам це потрібно.
  </Bullet>
</div>
