---
import { Image } from "astro:assets";
import Bullets from "../bullets/index.astro";
import Button from "../button.astro";
import Reviews from "./reviews.astro";
import Logo from "../logo.astro";
---

<div class="bg-[#D5CEC4] text-center lg:text-left">
  <div id="hero" class="md:flex md:gap-10 xl:gap-[152px]">
    <div
      class="px-5 pt-2.5 pb-[30px] md:flex-1 md:pl-5 md:pr-0 xl:justify-items-end"
    >
      <div class="md:max-w-[744px] flex flex-col justify-between h-full">
        <Logo
          className="mb-5 md:mb-0 flex items-center justify-center lg:justify-normal md:mt-[21px]"
        />
        <div>
          <h1
            class="text-[34px] leading-[44px] md:text-2xl md:leading-8 lg:text-[34px] lg:leading-[44px] font-light xl:text-[66px] xl:leading-[81px]"
          >
            Змініть своє життя вже сьогодні
          </h1>
          <p class="leading-6 mt-4 xl:text-xl">
            Відкрийте для себе силу медитації, яка зменшує стрес, дарує глибокий
            сон, підвищує концентрацію та допомагає знайти справжню гармонію в
            щоденному житті.
          </p>
          <Bullets className="xl:mt-[52px] xl:mb-[60px] xl:text-2xl" />
          <p class="mb-4 mt-6 text-xl leading-[30px] xl:text-2xl">
            <b>399 грн</b> замість <span class="line-through">1300 грн</span>
          </p>
          <Button href="https://secure.wayforpay.com/button/b63f146bc8174" />
        </div>
        <div class="hidden md:block"></div>
      </div>
    </div>
    <Image
      alt=""
      width="634"
      height="1063"
      class="max-h-[446px] md:max-h-[800px] w-full md:flex-1 object-cover rounded-tl-[110px] md:rounded-tl-[225px] lg:rounded-tl-[410px] lg:max-h-[800px] xl:max-h-[1063px] xl:max-w-[820px]"
      src="/hero_image.jpg"
    />
  </div>
  <Reviews />
</div>
