---
import { Image } from "astro:assets";
---

<div class="bg-[#2B2A26] p-6 lg:py-[50px] overflow-scroll">
  <div class="flex gap-[10px] items-start lg:gap-10 max-w-[1410px] mx-auto">
    <Image
      alt=""
      width="246"
      height="123"
      class="max-w-[246px] w-full object-contain mix-blend-color-dodge"
      src="/review-1.png"
    />
    <Image
      alt=""
      width="239"
      height="98"
      class="max-w-[239px] w-full object-contain mix-blend-color-dodge"
      src="/review-2.png"
    />
    <Image
      alt=""
      width="246"
      height="121"
      class="max-w-[246px] w-full object-contain mix-blend-color-dodge"
      src="/review-3.png"
    />
  </div>
</div>
