---
type Props = {
  icon: string;
  title: string;
  subtitle: string;
};

const { icon, title, subtitle } = Astro.props;
---

<div class="bg-[#EBE7E0] p-6 rounded-3xl text-center lg:text-left lg:p-10">
  <span
    class="text-[42px] w-20 h-20 items-center inline-flex justify-center bg-white rounded-full"
  >
    {icon}
  </span>
  <h3
    class="text-2xl mt-4 lg:mt-[45px] lg:text-[30px] lg:leading-[38px] capitalize"
  >
    {title}
  </h3>
  <p class="mt-4">{subtitle}</p>
</div>
