---
type Props = {
  icon: string;
  title: string;
  subtitle: string;
};

const { icon, title, subtitle } = Astro.props;
---

<div
  class="bg-[#EBE7E0] lg:h-[341px] lg:w-[341px] p-6 rounded-3xl text-center lg:text-left lg:p-10"
>
  <span
    class="text-[42px] w-20 h-20 items-center inline-flex justify-center bg-white rounded-full"
  >
    {icon}
  </span>
  <h3
    class="capitalize text-2xl mt-4 2xl:mt-[45px] 2xl:text-[30px] 2xl:leading-[38px]"
  >
    {title}
  </h3>
  <p class="mt-4">{subtitle}</p>
</div>
