---
import { Image } from "astro:assets";
import Card from "./card.astro";
---

<div class="px-5 py-10 max-w-[1796px] w-full mx-auto lg:py-[120px]">
  <h2
    class="text-[28px] leading-9 text-center mb-4 lg:mb-[50px] lg:text-[52px]"
  >
    Для кого створений цей курс?
  </h2>
  <div class="grid gap-6 lg:grid-cols-4">
    <Image
      alt=""
      src="/hand-1.png"
      height="421"
      width="421"
      class="hidden lg:block h-full object-cover rounded-3xl"
    />
    <Card
      icon="😰"
      title="Відчуваєте постійний стрес та тривогу"
      subtitle="Ви хочете знайти місце спокою, де ваш розум зможе відпочити."
    />
    <Card
      icon="🤍"
      title="Шукаєте прийняття себе"
      subtitle="Навчіться любити себе і приймати свої особливості."
    />
    <Card
      icon="🎯"
      title="Прагнете ясності та концентрації"
      subtitle="Завжди відчуваєте втому від хаосу думок? Настав час впорядкувати їх."
    />
    <Card
      icon="💤"
      title="Потребуєте глибокого, спокійного сну"
      subtitle="Прокидайтеся відпочилими, готовими до нового дня."
    />
    <Card
      icon="🔋"
      title="Відчуваєте виснаження та втому"
      subtitle="Поверніть свою енергію та життєву силу, яка колись була."
    />
    <Image
      alt=""
      src="/hand-2.png"
      height="421"
      width="421"
      class="hidden lg:block h-full object-cover rounded-full"
    />
    <Card
      icon="🤲"
      title="Бажаєте навчитися керувати емоціями"
      subtitle="Станьте господарем своєї долі, а не жертвою обставин."
    />
  </div>
  <p class="mt-4 text-center lg:mt-10 lg:text-2xl">
    Якщо хоч один пункт відгукнувся у вашій душі тоді цей курс для вас.
  </p>
</div>
