---
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero/index.astro";
import Cards from "../components/cards/index.astro";
import Audio from "../components/audio/index.astro";
import Testimonials from "../components/testimonials/index.astro";
import Features from "../components/features/index.astro";
import About from "../components/about.astro";
import Faq from "../components/faq/index.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ivanna Korniiuk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <Hero />
    <Cards />
    <Audio />
    <Testimonials />
    <Features />
    <About />
    <Faq />
    <Cta />
    <Footer />
  </body>
</html>
