---
import { Image } from "astro:assets";
import Bullet from "./bullets/bullet.astro";
---

<div class="bg-[#2B2A26]">
  <div
    class="text-white md:flex md:gap-10 md:items-center md:px-10 xl:py-[120px] xl:max-w-[1488px] xl:mx-auto xl:gap-16 xl:items-start"
  >
    <div class="px-5 py-10 md:order-2 md:px-0 md:flex-1 md:py-0 xl:text-xl">
      <h2 class="text-[28px] leading-[30px] xl:text-[52px] xl:leading-normal">
        Про мене
      </h2>
      <p class="mt-6">
        Мене звати Іванна, і я сертифікований викладач йоги з багаторічним
        досвідом, який вже близько 7 років практикує медитацію. Зараз я живу у
        Таїланді, де маю унікальну можливість навчатися медитацій у буддійських
        монахів, черпаючи натхнення з їхньої глибокої мудрості.
      </p>
      <div class="my-6 space-y-6 xl:my-16">
        <Bullet iconColor="#000" iconBgColor="#8C6546">
          Практикую медитацію та досліджую її вплив на розум і тіло.
        </Bullet>
        <Bullet iconColor="#000" iconBgColor="#8C6546">
          Сертифікований викладач йоги з акцентом на комплексний підхід до
          здоров’я.
        </Bullet>
        <Bullet iconColor="#000" iconBgColor="#8C6546">
          Поєдную стародавню мудрість з сучасними науковими підходами, щоб
          допомогти вам досягти внутрішньої рівноваги.
        </Bullet>
      </div>
      <p>
        Моя місія - допомогти вам знайти власний спокій, навчитися керувати
        емоціями та відчути, як ефективні техніки медитації можуть змінити ваше
        життя на краще.
      </p>
    </div>
    <div class="md:flex-1 md:my-20 xl:my-0">
      <Image
        class="max-h-[444px] object-cover w-full object-top rounded-tl-[140px] md:max-h-[600px] xl:max-h-[759px]"
        src="/about.jpg"
        alt=""
        width="520"
        height="600"
      />
    </div>
  </div>
</div>
