---
import Telegram from "../svgs/telegram.svg?raw";
import Logo from "./logo.astro";

type Props = {
  className?: string;
};

const { className = "" } = Astro.props;
---

<div
  class={`${className} mx-5 my-10 text-center lg:text-xl md:px-10 lg:flex lg:justify-between lg:items-center lg:max-w-[1592px] lg:my-[50px] lg:mx-auto pb-[88px] md:pb-0`}
>
  <Logo className="mb-5 lg:hidden flex justify-center flex-col !gap-0" />
  <div class="lg:flex lg:items-center lg:gap-6">
    <p class="text-[13px] md:text-xl">Залишилися питання?</p>
    <button
      class="py-4 px-14 flex items-center gap-[10px] bg-[#EEECDA] hover:bg-[#E0DBC1] transition rounded-[100px] mx-auto mt-4 mb-5 lg:mt-0 lg:mb-0 leading-[30px]"
    >
      <Fragment set:html={Telegram} />
      <span>Пиши в телеграм</span>
    </button>
  </div>
  <div class="flex flex-col gap-2.5 text-xs lg:text-base lg:gap-5 lg:flex-row">
    <a href="/terms-and-conditions">Правила і умови</a>
    <a href="/terms-and-conditions">Контактна інформація</a>
  </div>
</div>
