<div class="mx-5 my-10 text-center text-xl">
  <p>Залишилися питання?</p>
  <button
    class="py-4 px-14 flex items-center gap-[10px] bg-[#EEECDA] rounded-[100px] mx-auto mt-6 mb-5"
  >
    <svg
      class="flex-shrink-0"
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_32_44238)">
        <path
          d="M10 20.8135C15.5228 20.8135 20 16.3363 20 10.8135C20 5.29063 15.5228 0.813477 10 0.813477C4.47715 0.813477 0 5.29063 0 10.8135C0 16.3363 4.47715 20.8135 10 20.8135Z"
          fill="url(#paint0_linear_32_44238)"></path>
        <path
          d="M6.76904 11.5443L7.95546 14.8281C7.95546 14.8281 8.10379 15.1353 8.26263 15.1353C8.42146 15.1353 10.7839 12.6777 10.7839 12.6777L13.411 7.60352L6.81138 10.6966L6.76904 11.5443Z"
          fill="#C8DAEA"></path>
        <path
          d="M8.34221 12.3867L8.11446 14.8072C8.11446 14.8072 8.01913 15.5489 8.76063 14.8072C9.50213 14.0656 10.2119 13.4936 10.2119 13.4936"
          fill="#A9C6D8"></path>
        <path
          d="M6.79055 11.6617L4.35005 10.8666C4.35005 10.8666 4.05838 10.7482 4.1523 10.4799C4.17163 10.4246 4.21063 10.3775 4.3273 10.2966C4.86805 9.91963 14.3361 6.51655 14.3361 6.51655C14.3361 6.51655 14.6035 6.42647 14.7611 6.48638C14.8001 6.49846 14.8352 6.52068 14.8628 6.55077C14.8904 6.58085 14.9095 6.61773 14.9182 6.65763C14.9353 6.72811 14.9424 6.80061 14.9394 6.87305C14.9386 6.93572 14.931 6.9938 14.9253 7.08488C14.8676 8.0153 13.142 14.9593 13.142 14.9593C13.142 14.9593 13.0387 15.3656 12.6688 15.3796C12.5779 15.3825 12.4873 15.3671 12.4025 15.3343C12.3177 15.3015 12.2403 15.2519 12.1751 15.1885C11.4491 14.5641 8.94013 12.878 8.38572 12.5071C8.37321 12.4986 8.36268 12.4875 8.35483 12.4746C8.34698 12.4616 8.342 12.4472 8.34022 12.4321C8.33247 12.3931 8.37497 12.3446 8.37497 12.3446C8.37497 12.3446 12.7438 8.4613 12.8601 8.05363C12.8691 8.02205 12.835 8.00647 12.7894 8.0203C12.4992 8.12705 7.46905 11.3036 6.91388 11.6542C6.87392 11.6663 6.83168 11.6689 6.79055 11.6617Z"
          fill="white"></path>
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_32_44238"
          x1="10"
          y1="20.8135"
          x2="10"
          y2="0.813477"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#1D93D2"></stop>
          <stop offset="1" stop-color="#38B0E3"></stop>
        </linearGradient>
        <clipPath id="clip0_32_44238">
          <rect
            width="20"
            height="20"
            fill="white"
            transform="translate(0 0.813477)"></rect>
        </clipPath>
      </defs>
    </svg>
    <span>Пиши в телеграм</span>
  </button>
  <a href="mailto:ivannna.korniyuk@gmail.com">ivannna.korniyuk@gmail.com</a>
</div>
