---
import Telegram from "../svgs/telegram.svg?raw";
import Logo from "../svgs/logo.svg?raw";
---

<div
  class="mx-5 my-10 text-center lg:text-xl md:px-10 lg:flex lg:justify-between lg:items-center lg:max-w-[1592px] lg:my-[50px] lg:mx-auto pb-[88px] md:pb-0"
>
  <div
    class="flex flex-col gap-[6px] justify-center items-center mb-5 lg:mb-0 lg:flex-row lg:gap-[14px]"
  >
    <Fragment set:html={Logo} />
    <p class="text-sm leading-[30px] lg:text-2xl">Meditate with Ivanna</p>
  </div>
  <div class="lg:flex lg:items-center lg:gap-6">
    <p>Залишилися питання?</p>
    <button
      class="py-4 px-14 flex items-center gap-[10px] bg-[#EEECDA] hover:bg-[#E0DBC1] transition rounded-[100px] mx-auto mt-4 mb-5 lg:mt-0 lg:mb-0 leading-[30px]"
    >
      <Fragment set:html={Telegram} />
      <span>Пиши в телеграм</span>
    </button>
  </div>
  <a href="mailto:ivannna.korniyuk@gmail.com">ivannna.korniyuk@gmail.com</a>
</div>
