<div
  class="mx-5 my-10 text-center lg:text-xl md:px-10 lg:flex lg:justify-between lg:items-center lg:max-w-[1592px] lg:my-[50px] lg:mx-auto"
>
  <div
    class="flex flex-col gap-[6px] justify-center items-center mb-5 lg:mb-0 lg:flex-row lg:gap-[14px]"
  >
    <svg
      width="49"
      height="45"
      viewBox="0 0 49 45"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M42.4105 39.1538C46.1989 35.0843 48.5 29.7156 48.5 23.8311C48.5 11.119 37.7528 0.813477 24.5 0.813477C11.2472 0.813477 0.5 11.119 0.5 23.8311C0.5 29.7217 2.8054 35.0955 6.60227 39.1666C6.75568 39.1518 6.90483 39.1107 7.04119 39.0583C7.36932 38.9339 7.65909 38.7117 7.93182 38.4281C8.62216 37.7053 9.45739 37.4143 10.4503 37.4169C10.9957 37.4184 11.5625 37.2629 12.0866 37.0764C13.0625 36.7272 14.0213 36.3285 14.9801 35.9303L15.3125 35.7926C15.4446 35.7384 15.5938 35.5961 15.6321 35.4638C16.1264 33.7959 16.5568 32.1113 16.7358 30.3723C16.7614 29.4548 16.7358 28.5068 16.9616 27.6123C17.2301 26.5638 17.9631 26.0309 19.0241 25.9865C20.9375 26.0376 22.6335 25.4404 22.9702 23.2965C23.0682 22.7892 23.1236 22.356 22.6847 21.9419C22.0838 21.3442 21.7472 20.5432 21.5213 19.7299C21.2656 18.8103 21.0526 17.8696 20.9247 16.9237C20.7116 15.4123 21.4872 14.0046 22.821 13.3011L23.196 13.1116L23.0043 12.6973C22.9361 12.5527 22.8764 12.4079 22.8381 12.2574C22.6719 11.6234 22.7784 11.0214 23.2301 10.5384C23.5199 10.2295 23.831 9.93859 24.1506 9.63667L24.6236 9.18353C25.0838 9.68827 25.6335 10.1976 26.0682 10.794C26.5284 11.4285 26.4602 12.1484 26.0895 12.8329L26.0384 12.9233L25.919 13.106L26.2259 13.2689C27.7344 14.0403 28.4247 15.257 28.2372 16.9597C28.169 17.618 28.0753 18.2744 27.9176 18.913C27.7557 19.5534 27.5298 20.1754 27.2017 20.7626C26.9162 21.2732 26.5284 21.7261 26.1918 22.2066L26.1662 22.2472C26.1278 22.3003 26.0852 22.3575 26.081 22.413C26.0256 24.7561 27.3764 25.9939 29.7202 25.9849C30.6491 25.9816 31.6463 26.1811 31.9957 27.1663C32.2003 27.725 32.4134 28.3334 32.4006 28.914C32.358 30.5554 32.669 32.1294 33.0611 33.6993C33.206 34.2952 33.3722 34.8868 33.5469 35.4741C33.5852 35.5964 33.6918 35.7438 33.8026 35.7893C34.8892 36.2404 35.9844 36.6771 37.0753 37.1129L37.2798 37.1939C38.7074 37.7699 39.7557 36.9469 41.0384 38.2912C41.1193 38.373 41.2088 38.446 41.2812 38.5313C41.6009 38.8969 41.9673 39.114 42.4105 39.1538ZM41.5966 39.9845C41.1875 39.9628 40.7699 39.8931 40.3608 39.7551C40.0028 39.6351 39.6364 39.5071 39.321 39.3084C38.4261 38.7495 37.4545 38.538 36.4276 38.4915L36.2997 38.4861C35.0852 38.4315 33.8665 38.3765 32.6818 38.0649L32.5881 38.0465C31.8849 37.9418 31.446 37.54 31.2798 36.8317L30.7642 34.7397C30.4361 33.4382 30.0909 32.1414 29.7841 30.8346C29.7031 30.4732 29.554 30.2328 29.2301 30.0604C28.8807 29.8755 28.5611 29.6323 28.2585 29.4346L28.608 30.0259C28.8636 30.4543 29.1236 30.8857 29.3196 31.346C29.8906 32.7023 29.1406 33.9315 27.6918 34.1154L27.2827 34.18C27.7301 34.4056 28.1094 34.566 28.5952 34.3966L28.5398 34.7098L28.4332 35.2498C28.054 36.881 28.2457 38.4399 29 39.9265L29.2812 40.4645L29.7202 41.3089C29.7543 41.3822 29.7926 41.4292 29.8352 41.4566C29.9034 41.499 29.9886 41.4931 30.1037 41.4632C30.973 41.2446 31.8466 41.0354 32.7202 40.8594C34.4205 40.5176 36.1378 40.3018 37.8935 40.3848C38.2727 40.4026 38.6477 40.4537 39.0227 40.5081C39.5938 40.5912 39.9986 40.8389 40.2585 41.1904C40.7188 40.8047 41.1662 40.4024 41.5966 39.9845ZM8.84801 41.2811C9.13778 40.8463 9.59375 40.6052 10.169 40.5058C10.608 40.43 11.0511 40.3812 11.4943 40.3587C12.2997 40.3173 13.1094 40.3633 13.9062 40.4897C15.6321 40.7633 17.3409 41.1411 19.0582 41.4658C19.1562 41.4842 19.331 41.4624 19.3651 41.3996C20.5369 39.4555 21.3892 37.248 20.6733 34.966L20.5753 34.5376C20.9844 34.449 21.7514 34.2035 21.7472 34.1647L21.4148 34.1208C20.8139 34.0643 20.3196 33.7626 20.0085 33.3269C19.6761 32.8671 19.5483 32.2584 19.7188 31.6316C19.9062 30.9457 20.2727 30.3567 20.6989 29.8034C20.7841 29.6915 20.8736 29.5807 20.9205 29.4221L19.527 30.2995C19.4929 30.322 19.4759 30.383 19.4631 30.43C19.1435 31.6591 18.8196 32.8865 18.5128 34.1192L18.2102 35.4115L17.929 36.6759C17.75 37.4802 17.2727 37.9484 16.4673 38.0573L15.9943 38.1216C15.1889 38.2307 14.3835 38.3398 13.5781 38.4363C12.7898 38.5311 11.9886 38.5709 11.2045 38.6958C10.8381 38.7538 10.4716 38.9112 10.1477 39.101C9.26136 39.6233 8.34517 39.9094 7.39062 39.9722C7.85938 40.4274 8.34517 40.8642 8.84801 41.2811ZM35.2216 41.9087C35.3963 41.8977 35.571 41.9072 35.8352 41.9072L35.3622 42.005C35.0554 42.0663 34.7741 42.1222 34.5014 42.2078C32.7926 42.7445 31.0881 43.2944 29.3835 43.8561C29.1449 43.9356 29.0085 43.9499 28.8253 43.7189C28.2969 43.0466 27.7216 42.9478 27.027 43.4408C26.6477 43.711 26.2642 43.9619 25.8509 44.1608C25.6122 44.2763 25.3651 44.3744 25.1051 44.4485C24.9134 44.5029 24.7557 44.6822 24.5682 44.8135C24.4659 44.6554 24.3381 44.5305 24.1932 44.4308C23.9716 44.2796 23.7074 44.1864 23.4176 44.1233C22.804 43.9764 22.25 43.6249 21.7003 43.3212C21.0099 42.9529 20.3366 42.9618 19.7188 43.4765C19.4545 43.6977 19.233 43.6929 18.9219 43.5601C17.2472 42.8436 15.5128 42.3347 13.7358 41.9519L13.5909 41.913L13.4503 41.8607C14.7756 41.8668 16.0625 42.1092 17.3324 42.4826C17.9119 42.6533 18.4787 42.8592 19.0582 43.0247C19.1818 43.0594 19.3608 43.0308 19.4631 42.9575C19.7656 42.7401 20.081 42.6035 20.4048 42.5468C20.767 42.4829 21.142 42.5212 21.5341 42.6602L21.956 42.8257C22.054 42.8694 22.1477 42.9174 22.2372 42.9721C22.723 43.3404 23.3366 43.5154 23.8267 43.6546C24.2486 43.7739 24.5767 43.8666 24.6491 44.0321C24.6577 44.0334 24.7812 44.0058 24.9773 43.9371C25.2031 43.8597 25.5185 43.7299 25.8636 43.5302C26.0426 43.4395 26.2429 43.3143 26.456 43.1841C26.7884 42.98 27.1378 42.7636 27.4403 42.6482C27.7599 42.5266 28.0668 42.5348 28.3523 42.6326C28.6293 42.7286 28.8849 42.911 29.1151 43.1417C29.2898 43.3159 29.4176 43.3046 29.6222 43.2288C30.6747 42.8344 31.7443 42.4939 32.8352 42.2538C33.6193 42.0816 34.4119 41.9608 35.2216 41.9087Z"
        fill="#2B2A26"></path>
    </svg>
    <p class="text-sm leading-[30px] lg:text-2xl">Meditate with Ivanna</p>
  </div>
  <div class="lg:flex lg:items-center lg:gap-6">
    <p>Залишилися питання?</p>
    <button
      class="py-4 px-14 flex items-center gap-[10px] bg-[#EEECDA] hover:bg-[#E0DBC1] transition rounded-[100px] mx-auto mt-4 mb-5 lg:mt-0 lg:mb-0 leading-[30px]"
    >
      <svg
        class="flex-shrink-0"
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_32_44238)">
          <path
            d="M10 20.8135C15.5228 20.8135 20 16.3363 20 10.8135C20 5.29063 15.5228 0.813477 10 0.813477C4.47715 0.813477 0 5.29063 0 10.8135C0 16.3363 4.47715 20.8135 10 20.8135Z"
            fill="url(#paint0_linear_32_44238)"></path>
          <path
            d="M6.76904 11.5443L7.95546 14.8281C7.95546 14.8281 8.10379 15.1353 8.26263 15.1353C8.42146 15.1353 10.7839 12.6777 10.7839 12.6777L13.411 7.60352L6.81138 10.6966L6.76904 11.5443Z"
            fill="#C8DAEA"></path>
          <path
            d="M8.34221 12.3867L8.11446 14.8072C8.11446 14.8072 8.01913 15.5489 8.76063 14.8072C9.50213 14.0656 10.2119 13.4936 10.2119 13.4936"
            fill="#A9C6D8"></path>
          <path
            d="M6.79055 11.6617L4.35005 10.8666C4.35005 10.8666 4.05838 10.7482 4.1523 10.4799C4.17163 10.4246 4.21063 10.3775 4.3273 10.2966C4.86805 9.91963 14.3361 6.51655 14.3361 6.51655C14.3361 6.51655 14.6035 6.42647 14.7611 6.48638C14.8001 6.49846 14.8352 6.52068 14.8628 6.55077C14.8904 6.58085 14.9095 6.61773 14.9182 6.65763C14.9353 6.72811 14.9424 6.80061 14.9394 6.87305C14.9386 6.93572 14.931 6.9938 14.9253 7.08488C14.8676 8.0153 13.142 14.9593 13.142 14.9593C13.142 14.9593 13.0387 15.3656 12.6688 15.3796C12.5779 15.3825 12.4873 15.3671 12.4025 15.3343C12.3177 15.3015 12.2403 15.2519 12.1751 15.1885C11.4491 14.5641 8.94013 12.878 8.38572 12.5071C8.37321 12.4986 8.36268 12.4875 8.35483 12.4746C8.34698 12.4616 8.342 12.4472 8.34022 12.4321C8.33247 12.3931 8.37497 12.3446 8.37497 12.3446C8.37497 12.3446 12.7438 8.4613 12.8601 8.05363C12.8691 8.02205 12.835 8.00647 12.7894 8.0203C12.4992 8.12705 7.46905 11.3036 6.91388 11.6542C6.87392 11.6663 6.83168 11.6689 6.79055 11.6617Z"
            fill="white"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_32_44238"
            x1="10"
            y1="20.8135"
            x2="10"
            y2="0.813477"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1D93D2"></stop>
            <stop offset="1" stop-color="#38B0E3"></stop>
          </linearGradient>
          <clipPath id="clip0_32_44238">
            <rect
              width="20"
              height="20"
              fill="white"
              transform="translate(0 0.813477)"></rect>
          </clipPath>
        </defs>
      </svg>
      <span>Пиши в телеграм</span>
    </button>
  </div>
  <a href="mailto:ivannna.korniyuk@gmail.com">ivannna.korniyuk@gmail.com</a>
</div>
