<script>
  const hero = document.getElementById("hero");
  const navbar = document.getElementById("navbar");

  window.addEventListener("scroll", () => {
    if (window.scrollY > hero.offsetHeight) navbar.classList.add("!top-0");
    else navbar.classList.remove("!top-0");
  });
</script>

<div
  id="navbar"
  class="bg-[#2B2A26] text-white fixed -top-[80px] transition-all duration-300 w-full z-10"
>
  <div
    class="max-w-[1592px] mx-auto flex justify-between items-center p-2 md:px-5 md: py-3 xl:px-10 xl:py-[12px]"
  >
    <p class="text-xs md:text-base xl:text-2xl">
      Ваше нове життя починається з одного натискання кнопки.
    </p>
    <svg
      class="hidden xl:block"
      width="236"
      height="44"
      viewBox="0 0 236 44"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0.499999 23.4998L232 23.5" stroke="white" stroke-linecap="round"
      ></path>
      <path
        d="M219.696 18.8986C223.799 20.5704 228.7 21.9124 232.432 23.1829C234.372 23.8433 234.472 23.3232 233.31 23.7419C229.541 25.1003 224.39 28.4908 221.794 31.5195"
        stroke="white"
        stroke-linecap="round"></path>
    </svg>
    <button
      class="text-sm md:text-base px-3 flex py-2 xl:py-4 xl:px-8 rounded-[50px] bg-[#8C6546] transition hover:bg-[#A37454] leading-3"
    >
      Отримати&nbsp;доступ
    </button>
  </div>
</div>
