---
type Props = {
  icon: string;
  text: string;
  className?: string;
};

const { icon, text, className } = Astro.props;
---

<div
  class={`${className} px-3 py-[10px] border border-[#2B2A26] rounded-[1000px] flex items-center gap-4 xl:px-10 xl:py-6`}
>
  <p
    class="text-[30px] flex-shrink-0 leading-3 w-[30px] h-[34px] flex items-center"
  >
    {icon}
  </p>
  <p class="xl:text-2xl">{text}</p>
</div>
