---
import Feature from "./feature.astro";
---

<div class="bg-[#D5CEC4]">
  <div class="px-5 py-10 xl:py-[120px] xl:max-w-[1672px] xl:mx-auto">
    <h2
      class="text-[28px] leading-[36px] text-center mb-4 xl:mb-14 xl:text-[52px] xl:leading-normal"
    >
      Переваги, які ви отримаєте
    </h2>
    <div
      class="flex flex-col md:flex-row md:flex-wrap md:justify-center gap-[10px] xl:gap-[33px]"
    >
      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature
          icon="😊"
          text="Щоденні моменти радості, без напруги і тривог."
        />
        <Feature
          icon="💪"
          text="Більше енергії для важливих подій та тих, кого ви любите."
        />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="💫" text="Станьте впевненішими у собі" />
        <Feature
          icon="🧘‍♀️"
          text="Спокій, який не залежить від зовнішніх обставин."
        />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="🌞" text="Прокидайтеся повними енергії" />
        <Feature icon="🛡️" text="Залишайтеся стійкими до стресу" />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="🚀" text="Досягайте цілей швидше" />
        <Feature icon="🌈" text="Відчуйте більше щастя" />
        <Feature icon="🧠" text="Контролюйте свої емоції" />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="😴" text="Поліпшіть якість сну" />
        <Feature icon="🎯" text="Зберігайте фокус на завданнях" />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="🙏" text="Розвивайте вдячність" />
        <Feature icon="🌿" text="Забудьте про тривогу" />
        <Feature icon="📘" text="Підвищте концентрацію" />
      </div>

      <div
        class="xl:basis-full flex flex-col md:flex-row md:flex-wrap justify-center gap-[10px] xl:gap-[33px]"
      >
        <Feature icon="🌻" text="Поверніть собі радість життя" />
        <Feature icon="🌱" text="Покращуйте здоров’я" />
      </div>
    </div>
  </div>
</div>
