---
import Feature from "./feature.astro";
---

<div class="bg-[#D5CEC4] px-5 py-10">
  <h2 class="text-[28px] leading-[36px] text-center mb-4">
    Переваги, які ви отримаєте
  </h2>
  <div class="space-y-[10px]">
    <Feature icon="😊" text="Щоденні моменти радості, без напруги і тривог." />
    <Feature
      icon="💪"
      text="Більше енергії для важливих подій та тих, кого ви любите."
    />
    <Feature icon="💫" text="Станьте впевненішими у собі" />
    <Feature
      icon="🧘‍♀️"
      text="Спокій, який не залежить від зовнішніх обставин."
    />
    <Feature icon="🌞" text="Прокидайтеся повними енергії" />
    <Feature icon="🛡️" text="Залишайтеся стійкими до стресу" />
    <Feature icon="🚀" text="Досягайте цілей швидше" />
    <Feature icon="🌈" text="Відчуйте більше щастя" />
    <Feature icon="🧠" text="Контролюйте свої емоції" />
    <Feature icon="😴" text="Поліпшіть якість сну" />
    <Feature icon="🎯" text="Зберігайте фокус на завданнях" />
    <Feature icon="🙏" text="Розвивайте вдячність" />
    <Feature icon="🌿" text="Забудьте про тривогу" />
    <Feature icon="📘" text="Підвищте концентрацію" />
    <Feature icon="🌻" text="Поверніть собі радість життя" />
    <Feature icon="🌱" text="Покращуйте здоров’я" />
  </div>
</div>
