---
import ArrowLeft from "../../svgs/arrow-left.svg?raw";
import ArrowRight from "../../svgs/arrow-right.svg?raw";
---

<div class="flex gap-3 justify-center items-center">
  <button class="button-prev text-white hover:text-gray-100">
    <Fragment set:html={ArrowLeft} />
  </button>
  <button class="button-next text-white hover:text-gray-100">
    <Fragment set:html={ArrowRight} />
  </button>
</div>
