---
import { Image } from "astro:assets";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import Buttons from "./buttons.astro";
---

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".swiper", {
    modules: [Navigation, Pagination],
    spaceBetween: 30,
    loop: true,
    slidesPerView: 1,
    breakpoints: { 768: { slidesPerView: 3, spaceBetween: 10 } },
    navigation: {
      enabled: true,
      nextEl: ".button-next",
      prevEl: ".button-prev",
    },
  });
</script>

<div class="py-10 px-5 text-center lg:px-10 xl:py-[120px]">
  <h2 class="text-[28px] leading-[36px] xl:text-[52px] xl:leading-normal">
    Відгуки
  </h2>
  <p class="my-6 xl:text-2xl xl:mb-10">
    Справжні історії, справжні зміни. Досвід наших учасників.
  </p>
  <div
    class="swiper max-w-[281px] md:max-w-[680px] lg:max-w-[1614px] mb-6 xl:mb-10"
  >
    <div class="swiper-wrapper">
      <Image
        class="swiper-slide"
        src="/testimonial-4.jpg"
        alt=""
        height="600"
        width="600"
      />
      <Image
        class="swiper-slide"
        src="/testimonial-2.jpg"
        alt=""
        height="600"
        width="600"
      />
      <Image
        class="swiper-slide"
        src="/testimonial-3.jpg"
        alt=""
        height="600"
        width="600"
      />
      <Image
        class="swiper-slide"
        src="/testimonial-1.jpg"
        alt=""
        height="600"
        width="600"
      />
    </div>
  </div>
  <Buttons />
</div>
